@import './shared_style.scss';

.flex-container-3 {
    display: flex;
    width: 100vw;

    #part-1 {

        position: relative;
        max-height: 100vh;
        text-align: center;

        min-height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(/public/images/login_register.jpg) scroll no-repeat center/cover;
    



        h1 {

            font-size: 80px;
            @include position(absolute,50%,auto,50%,auto);
         
        }

    }

    #part-2 {
        @include flex(flex,center,center,auto,auto,column);
      
        height: 100vh;
        margin-right: 0;

        h1,
        h3 {
            text-align: center;

        }

        h3 {
            width: 100%;
            text-align: center;
            height: 0px;
            line-height: 0px;
            margin-bottom: 12%;
        }

        h1 {
            width: 100%;
            margin-top: 12%;
            text-align: center;
            height: 5px;
            line-height: 5px;
        }

        form {
           
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            width: min(80%, 400px);

            #password-error,
            #email-error {
                display: none;
            }


            label {
                color: #b9b9b9;

            }

            input {
                transition: all 0.5s;
                border: none;
                border-radius: 20px;
                box-shadow: rgb(58, 57, 57) 0px 1px 0px;
                background-color: transparent
            }

            input:focus {
              
                outline: none !important;
                background: transparent !important;
                border: 1px solid $green;
            }

            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            input:-webkit-autofill:active {
                transition: background-color 5000s ease-in-out 0s;
                -webkit-text-fill-color: white !important;
            }

            button {

                margin-top: 10%;
            }


        }
    }
}

@media only screen and (min-width: 992px) {
    .flex-container-3 {
        #part-1 {
            flex-basis: 60vw;
        }

        #part-2 {
            flex-basis: 40vw;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width:992px) {
    .flex-container-3 {
        #part-1 {
            flex-basis: 50vw;
        }

        #part-2 {
            flex-basis: 50vw;
        }
    }
}

@media only screen and (max-width:768px) and (min-width:600px) {
    .flex-container-3 {
        #part-1 {
            display: none;
        }

        #part-2 {
            flex-basis: 100vw;
        }
    }
}

@media only screen and (max-width: 600px) {
    .flex-container-3 {
        #part-1 {
            display: none;
        }

        #part-2 {
            flex-basis: 100vw;
        }
    }
}