@mixin flex($v1, $v2, $v3, $v4, $v5, $v6) {
    display: $v1 ;
    align-items: $v2;
    justify-content: $v3;
    gap: $v4;

    div {
        flex-basis: $v5;
    }

    flex-direction: $v6;



}

@mixin position($v1, $v2, $v3, $v4, $v5) {
    position: $v1;
    top: $v2;
    bottom: $v3;
    right: $v4;
    left: $v5
}
.background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
$green:rgb(81, 216, 115);
$pink:rgb(252, 72, 102);
$black:rgb(27, 27, 27);
$gray:rgb(48, 48, 48);
$sugar:rgb(230, 227, 227);
* {
    font-family: 'Roboto';
    color: whitesmoke;


}

body {
    background-color: $black;
}

a {
    text-decoration: none;
}

.register {
    background-color: rgb(27, 27, 27);
    color: $green;
    border: 1px solid $green;
    text-transform: uppercase;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;

    &:hover {
        background-color: $green;
        color: white
    }

}

button {
    cursor: pointer;
}

.submit {
    border: 1px solid $green;
    background-color: $green;
    border-radius: 20px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;

}